.array{
    background-color: darkcyan;
    height: 300px;
    width:200px;
    color: firebrick;
}
.show{
    background-color: lightskyblue;
    height: 600px;
    width: 600px;
    color: indianred;
}
.result{
    background-color: aquamarine;
    height: 200px;
    width: 600px;
    color:deeppink;
}
.show input{
    margin: 30px;
    color: crimson;
    background-color: violet;

}